.playerStyle1 {
    -fx-background-color: transparent;
    -fx-font-weight: normal;
}
.activePlayerStyle1 {
    -fx-background-color: yellow;
    -fx-font-weight: bold;
}
.buttonStyle1{
    -fx-background-color:
            #3c7fb1,
            linear-gradient(#fafdfe, #e8f5fc),
            linear-gradient(#eaf6fd 0%, #d9f0fc 49%, #bee6fd 50%, #a7d9f5 100%);
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 3,2,1;
    -fx-padding: 3 30 3 30;
    -fx-text-fill: black;
    -fx-font-size: 14px;
}
.buttonStyle1:pressed{
    -fx-background-color:
            #3c7fb1,
            linear-gradient(#fafdfe, #e8f5fc),
            linear-gradient(#eaf6fd 100%, #d9f0fc 49%, #bee6fd 50%, #a7d9f5 100%);
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 3,2,1;
    -fx-padding: 3 30 3 30;
    -fx-text-fill: black;
    -fx-font-size: 14px;
}
.mainFormStyle1{
    -fx-background-image:  url("BackgroundImage1.jpg");
    -fx-background-repeat: repeat;
    -fx-background-position: center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}
.retiredPlayerStyle1
{
    -fx-background-color: darkgrey;
    -fx-font-style: italic;
}