.playerStyle3 {
    -fx-background-color: transparent;
    -fx-font-weight: normal;
}
.activePlayerStyle3 {
    -fx-background-color: coral;
    -fx-font-weight: bold;
}
.buttonStyle3{
    -fx-background-color:
            linear-gradient(#f0ff35, #a9ff00),
            radial-gradient(center 50% -40%, radius 200%, #b8ee36 45%, #80c800 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #395306;
}
.buttonStyle3:hover{
    -fx-background-color:
            linear-gradient(#f0ff35, #a9ff00),
            radial-gradient(center 50% -40%, radius 200%, #b8ee36 45%, #80c800 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #395306;
    -fx-border-width: 4;
    -fx-border-color: silver;
}
.buttonStyle3:pressed{
    -fx-background-color:
            linear-gradient(#f0ff35, #a9ff00),
            radial-gradient(center 100% -20%, radius 200%, #b8ee36 45%, #80c800 65%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #395306;
}
.mainFormStyle3{
    -fx-background-image: url("BackgroundImage3.jpg");
    -fx-background-repeat: repeat;
    -fx-background-position: center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}
.retiredPlayerStyle3
{
    -fx-background-color: beige;
    -fx-font-style: italic;
}
.labelStyle3
{
    -fx-font-family: "David";
    -fx-font-size: 13;
}