<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteGamesServlet</servlet-name>
        <servlet-class>Servlets.DeleteGamesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FinishGameServlet</servlet-name>
        <servlet-class>Servlets.FinishGameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ComputerTurnServlet</servlet-name>
        <servlet-class>Servlets.ComputerTurnServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckPlayerServlet</servlet-name>
        <servlet-class>Servlets.CheckPlayerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GameStatusServlet</servlet-name>
        <servlet-class>Servlets.GameStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlayTurnServlet</servlet-name>
        <servlet-class>Servlets.PlayTurnServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JoinGameServlet</servlet-name>
        <servlet-class>Servlets.JoinGameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GameDetailsServlet</servlet-name>
        <servlet-class>Servlets.GameDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GameListServlet</servlet-name>
        <servlet-class>Servlets.GameListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadGameServlet</servlet-name>
        <servlet-class>Servlets.LoadGameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatusServlet</servlet-name>
        <servlet-class>Servlets.StatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>Servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsersListServlet</servlet-name>
        <servlet-class>Servlets.UsersListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GamePlayersListServlet</servlet-name>
        <servlet-class>Servlets.GamePlayersListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlayerInfoServlet</servlet-name>
        <servlet-class>Servlets.CurrentPlayerInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActivePlayerInfoServlet</servlet-name>
        <servlet-class>Servlets.ShowActivePlayerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Pages/LoginPage/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsersListServlet</servlet-name>
        <url-pattern>/UsersList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatusServlet</servlet-name>
        <url-pattern>/Status</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadGameServlet</servlet-name>
        <url-pattern>/LoadGame</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GameListServlet</servlet-name>
        <url-pattern>/GameList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GameDetailsServlet</servlet-name>
        <url-pattern>/GameDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JoinGameServlet</servlet-name>
        <url-pattern>/JoinGame</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GamePlayersListServlet</servlet-name>
        <url-pattern>/GamePlayersList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlayTurnServlet</servlet-name>
        <url-pattern>/PlayTurn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GameStatusServlet</servlet-name>
        <url-pattern>/GameStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckPlayerServlet</servlet-name>
        <url-pattern>/CheckPlayer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlayerInfoServlet</servlet-name>
        <url-pattern>/PlayerInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActivePlayerInfoServlet</servlet-name>
        <url-pattern>/ActivePlayerTurn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ComputerTurnServlet</servlet-name>
        <url-pattern>/ComputerTurn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FinishGameServlet</servlet-name>
        <url-pattern>/FinishGame</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteGamesServlet</servlet-name>
        <url-pattern>/DeleteGames</url-pattern>
    </servlet-mapping>
</web-app>