body {
    background-image: url("../GamesHubPage/WoodenBackground.jpg");
    background-size: cover;
    margin: 0;
    min-width: 400px;
    text-align: center;
}

.toolBar{
    height: 50px;
    background: gainsboro;
}

.Pop {
    position: absolute;
    width: 70px;
    height: 70px;
    margin: 5px;

}

.toolbarContent {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#NinaRow {
    overflow: auto;
    white-space: nowrap;
    background-color: #ffe000;
    display: inline-block;
    width:fit-content;
    max-width: 50%;
    position: relative;
    left:25%;
}

.Button {

    width: 70px;
    height: 70px;
    display: inline-block;
    margin: 5px;
    cursor: pointer;
}
.col {
    width: 70px;
    height: 70px;
    display: inline-block;
    background-color: white;
    border-radius: 50%;
    margin: 5px;
    position: relative;
    top: 0;
    left: 0;
}

.next-stam{
    background-color: rgba(105,105,105,.3);
}

.next-red {
    background-color: rgba(255, 0, 0, 0.2);
}

.next-black {
    background-color: rgba(0, 0, 0, 0.2);
}

.col.red {
    background-color: red;
}

.col.black {
    background-color: black;
}

.next-blue {
    background-color: rgba(0, 0, 255, 0.2);
}

.next-green {
    background-color: rgba(0, 255, 0, 0.2);
}

.col.green {
    background-color: green;
}

.col.blue {
    background-color: blue;
}
.next-purple {
    background-color: rgba(255, 0, 0255, 0.2);
}

.next-orange {
    background-color: rgba(255, 152, 35, 0.6);
}

.col.purple {
    background-color: purple;
}

.col.orange {
    background-color: orange;
}

.usersDiv tr:hover {
    background: rgba(55, 63, 73, 0.78);
}

.usersDiv td {
    height: 40px;
    color: whitesmoke;
    font-family: Arial;
}

.usersDiv tr{
    background: transparent;
    font-family: Arial;
}

.usersDiv {
    margin-left: 5px;
    flex: 0.4 0 0;
    width: 24%;
    position: absolute;
    right: 0.5%;
}

th {
    padding: 0.5% 2% 0.5% 0%;
    background: linear-gradient(#ffd65b, #e68400),
    linear-gradient(#ffef84, #f2ba44),
    linear-gradient(#ffea6a, #efaa22),
    linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%);
    border-radius:50%;
    text-align: center;
    vertical-align: center;
    font-weight: bold;
}

.usersTable{
    border: black 1px solid;
    border-radius: 6px;
    width: 100%;
}

.gameDiv{
    margin: 10px 10px 0 10px;
    display: flex;
}

.playerDiv tr:hover {
    background: rgba(55, 63, 73, 0.78);
}

.playerDiv td {
    height: 40px;
    color: whitesmoke;
    font-family: Arial;
}

.playerDiv tr{
    background: transparent;
    font-family: Arial;
}

.playerDiv {
    margin-left: 5px;
    flex: 0.4 0 0;
    width: 24%;
    position: absolute;
    left: 0;
}

.playerTable{
    border: black 1px solid;
    border-radius: 6px;
    width: 100%;
}
