body{
    background-image: url("WoodenBackground.jpg");
    background-size: cover;
    margin: 0;
    min-width: 400px;
}

.mainDiv{
    margin: 10px 10px 0 10px;
    display: flex;
}

.toolBar{
    height: 50px;
    background:transparent;
    color: Black;
    font-weight: bold;
}

.toolbarContent {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.logoutSpan{
    background: linear-gradient(#ffd65b, #e68400),
    linear-gradient(#ffef84, #f2ba44),
    linear-gradient(#ffea6a, #efaa22),
    linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%);
    border: none;
    color: black;
    font-weight: bold;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    transition-duration: 0.4s;
    box-shadow: 0 9px #999;
    cursor: pointer;
}

.logoutSpan:hover {
    background: linear-gradient(#e6b788, #e68100),
    linear-gradient(#e6d785, #e6b33b),
    linear-gradient(#e6cf5e, #e69d27),
    linear-gradient(#e6c55b 0%, #e6bb02 50%, #e69e0a 100%);
    border: none;
}

.logoutSpan:active {
    background: linear-gradient(#e6b788, #e68100),
    linear-gradient(#e6d785, #e6b33b),
    linear-gradient(#e6cf5e, #e69d27),
    linear-gradient(#e6c55b 0%, #e6bb02 50%, #e69e0a 100%);
    border: none;
    color: dimgray;
    font-weight: bold;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.userNameSpan {
    margin: 20px;
}

.emptySpan {

}

.logoSpan{
    position: absolute;
    right: 0;
}

.usersTable{
    border: black 1px solid;
    border-radius: 6px;
    width: 100%;
}

.gamesTable {
    border: 1px black solid;
    border-radius: 6px;
    width: 100%;
}

.gamesDiv {
    flex: 2 0 0;
}

.usersDiv {
    margin-left: 5px;
    flex: 0.4 0 0;
}

th {
    padding: 0.5% 2% 0.5% 0%;
    background: linear-gradient(#ffd65b, #e68400),
    linear-gradient(#ffef84, #f2ba44),
    linear-gradient(#ffea6a, #efaa22),
    linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%);
    border-radius:50%;
    text-align: center;
    vertical-align: center;
    font-weight: bold;
}

.gamesDiv tr {
    background:transparent;
    font-family: Arial;
}

.usersDiv tr{
    background: transparent;
    font-family: Arial;
}

.gamesDiv td {
    height: 40px;
    color: whitesmoke;
    font-family: Arial;
}

.usersDiv td {
    height: 40px;
    color: whitesmoke;
    font-family: Arial;
}

.gamesDiv tr:hover {
    background: rgba(55, 63, 73, 0.78);
}

.usersDiv tr:hover {
    background: rgba(55, 63, 73, 0.78);
}

.dialogDiv {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    max-width: 800px;
    max-height: 800px;
    z-index: 1000;
    display: none;
    background: burlywood;
    opacity: 0.85;

    -webkit-box-shadow: 10px 10px 30px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 30px -8px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 30px -8px rgba(0,0,0,0.75);

    animation: fadein 1s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.85; }
}

.dialogContent {
    font-size: 0;
    overflow: auto;
    margin: 25px;
    white-space: nowrap;
    max-width: 780px;
    max-height: 600px;
}

.board {
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    line-height: 0;
    margin-left: 40px;
}

.details {
    display: inline-block;
    vertical-align:top;
    font-size:  14px;
}

.close{
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}

.rowDiv{
    display: table-row;
}

.square{
    display: inline-block;
    border: 1px black solid;
    width: 30px;
    height: 30px;
}

.dialogButtons {
    font-size: 14px;
    margin-top: 11px;
    position: absolute;
    bottom: 100px;
    left: 30px;
    width: 100px;
}

.dialogButton {
    display: inline-block;
    margin-right: 8px;
    padding: 5px;
    border: grey 1px solid;
    border-radius: 4px;
    background: #fff4fd;
    box-shadow: 3px 3px 9px -2px rgba(0,0,0,0.75);
}

.dialogButton:hover {
    cursor: pointer;
    background: gainsboro;
}

.rowBlocks {
    display: inline-block;
    position: relative;
    vertical-align: top;
    top: 15px;
}

.colBlocks {
    display: inline-block;
    margin-bottom: 5px;
}

.rowBlock {
    display: block;
    height: 30px;
    text-align: center;
}

.colBlock{
    display: inline-block;
    width: 30px;
    text-align: center;
    border: 1px solid transparent;
}

.rowSquares {
    display: inline-block;
}

.colHint{
    font-size: 14px;
    margin-top: 15px;
}

.rowHint {
    font-size: 14px;
    margin-right: 5px;
    display: inline-block;
}

.image {
    height: 50px;
    width: 100px;
    margin-right: 30px;
    margin-top: -15px;
}


@keyframes openDialog {
    to { transform: rotate(1turn);}
}

.UploadText
{
    font-weight: bold;
    font-size: 20px;
    color:whitesmoke;
}